body {
	display: flex;
	background: #000;
    
	width: 100vw;
	height: 100vh;
}

h1 {
    font-family: "Fredericka the Great", cursive;
    font-size: ;
    color: #;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: ;
    color: #;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: ;
    color: #;
}

.apple {
    color: #c11313;
}

.potato {
    color: #e2bf93;
}

.center {
    text-align: center;
}

.container {
	margin: auto;
	padding: 20px;
}

.emi {
    color: #7fe7ff;
}

.mary {
    color: #;
}

.nasheeb {
    color: #2530f9;
}

.nicholas {
    color: #adbfff;
}

#paper {
    width: 840px;
    height: 560px;
    
    max-width: 100%;
    
	background: #000;
	border: 1px solid #fff;
}
